<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  {% include head-custom.html %}
</head>

<body>

  <div class="wrapper">
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}
      
      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <h2>Now playing</h2>

      <p id="now_playing"></p>
      
      <audio controls>
        <source src="https://computeradio.out.airtime.pro//computeradio_a" type="audio/mpeg" />
      </audio>

    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p>
        <a href="https://www.instagram.com/compute.radio/">Instagram</a><br />
        <a href="mailto:studio@compute.radio">Email</a><br />
      </p>
    </footer>
  </div>

  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  <script>
    // Function to fetch data from an API and populate the div
    document.addEventListener('DOMContentLoaded', function() {
      // API endpoint (replace with your API URL)
      const apiUrl = 'https://computeradio.airtime.pro/api/live-info'; // Example API

      // Fetch data from the API
      fetch(apiUrl)
          .then(response => response.json())  // Parse the JSON response
          .then(data => {
              // Extract data to display (this depends on your API structure)
              const showName = data.currentShow[0].name;
              const showLocation = data.currentShow[0].url;
              const showDescription = data.currentShow[0].description;

              // Update the div with the response data
              document.getElementById('now_playing').innerHTML = "<b>" + showName + "</b></br><i>" + showLocation + "</i></br>" + showDescription;

          })
          .catch(error => {
              // Handle errors (e.g., if API request fails)
              document.getElementById('now_playing').innerHTML = "Offline...";
          });
      });

  </script>

</body>

</html>
